## Data Structures
### 1. Arrays
Holds fix number of items and these items should be of the same type. The items in the array can be accessed via index. Basic operations include:
* __Traverse__ − Print all the array elements one by one.
* __Insertion__ − Adds an element at the given index.
* __Deletion__ − Deletes an element at the given index.
* __Search__ − Searches an element, using the given index or by the value.
* __Update__ − Updates an element at the given index

In [3]:
from numpy import *
import collections
from array import *
a=array('i', [10,20,30,40,50])
# looping has to be done to print out the elements of the array.
for x in a:
    print (x, end=' ')

10 20 30 40 50

In [2]:
# Accessing specific element
# print(a[1])
# Inserting an element. This can be done at any give index.
a.insert(2,35)
for x in a:
    print (x,end= ' ')

10 20 35 30 40 50

In [3]:
# Deletion operation
a.remove(35)
for x in a:
    print (x,end=' ')

10 20 30 40 50

In [4]:
# Update operation
a[2] = 110
for x in a:
    print(x, end=' ')

10 20 110 40 50

## 2. Lists
These are comma separated values between square brackets. Items need not be of the same type.

In [52]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5 ]
list3 = ["a", "b", "c", "d"]

In [53]:
list2[2:4]

[3, 4]

In [54]:
#To remove a list element, you can use either the del statement, if you know exactly, which
#element(s) you are deleting or the remove() method, if you do not know.
del list1[0]
list1

['chemistry', 1997, 2000]

In [61]:
# print(list3*4, end=' ') # Repetition
# len(list1) #Length
# list1+list2 #concatenation
# 3 in list2 #membership
for x in list3: print(x) # iteration

a
b
c
d

### 3. Tuples
The differences between tuples and lists are, the tuples cannot be changed once created (they are immutable) unlike lists and tuples use parentheses,whereas lists use square brackets.

In [9]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5 );
tup3 = "a", "b", "c", "d";
mytup = () # this is how you define an emty tuple
mytupe1 = (12,) # A tuple with only one element must have a comma.
print(tup1[1:3]) # Access is via index

('chemistry', 1997)

In [10]:
# to update a tuple you have to convert it to a list.
tup_to_list = list(tup1)
tup_to_list[1] = 'Biology'
new_tupe = tuple(tup_to_list)
print(new_tupe)

('physics', 'Biology', 1997, 2000)

## 4. Dictionary
Contains Keys and values separated by a colonn. With the whole thing enclosed in curly braces. We use keys to acces the elements.

In [64]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'Eight'}
dict['Class']

'Eight'

In [65]:
dict['Age'] = 8; # update existing entry
dict['School'] = "DPS School"; # Add new entry
del dict['Name']; # remove entry with key 'Name'
dict.clear(); # remove all entries in dict
del dict ; # delete entire dictionary

### Dictionary Properties
There are two important points to remember about dictionary keys
* More than one entry per key not allowed. Which means, no duplicate key is allowed.When duplicate keys are encountered during assignment, the last assignment wins.
* Keys must be immutable. Which means you can use strings, numbers or tuples as dictionary keys, but something like ['key'] is not allowed.

## 2D Arrays
These are basically arrays within an array or an array of arrays. Referance is this done by two indices instead of one.

In [69]:
Day1 = [11, 12,5, 2]
Day2 = [15, 6, 10]
Day3 = [10, 8, 12, 5]
Day4 = [12, 15, 8, 6]
# This can be represented as
T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]
print(T[1])
print(T[3][2])
T.insert(2, [0,5,11,13,6]) # inserting new values
print(T)

[15, 6, 10]
8
[[11, 12, 5, 2], [15, 6, 10], [0, 5, 11, 13, 6], [10, 8, 12, 5], [12, 15, 8, 6]]

To print out the entire two dimensional array, we can use python for loop as shown below.
We use end of line to print out the values in different rows.

In [71]:
for r in T:
    for k in r:
        print(k,end=' ')
    print()

11 12 5 2
15 6 10
0 5 11 13 6
10 8 12 5
12 15 8 6

In [82]:
# Updateing values
T[2] = [11,9]
T[0][3] = 7
for r in T:
    for k in r:
        print(k,end=' ')
    print()

11 12 5 7
15 6 10
11 9
10 8 12 5
12 15 8 6

In [83]:
# Deleting Values:
del T[3]
for r in T:
    for c in r:
        print(c,end = " ")
    print()

11 12 5 7
15 6 10
11 9
12 15 8 6

## 5. Matrix
Matrix is a special case of two dimensional array, where, each data element is of strictly same size. So, every matrix is also a two dimensional array but not, vice versa.
Consider the case of recording temperature for one week measured in the morning, midday, evening and mid-night. It can be presented as a 7X5 matrix, using a list and the reshape method available in numpy.

In [84]:
a = list([['Mon',18,20,22,17],['Tue',11,18,21,18],
           ['Wed',15,21,20,19],['Thu',11,20,22,21],
           ['Fri',18,17,23,22],['Sat',12,22,20,18],
           ['Sun',13,15,19,16]])
m = reshape(a,(7,5))
print(m)

[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Wed' '15' '21' '20' '19']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']]

In [85]:
print(m[3]) # Prints data for Thursday
print(m[4][1]) # Friday Morning.

['Thu' '11' '20' '22' '21']
18

In [86]:
m1 = append(m,[['Avg',12,15,13,11]],0)
print(m1)

[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Wed' '15' '21' '20' '19']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']
 ['Avg' '12' '15' '13' '11']]

### Adding a column
We can add column to a matrix using the insert() method. Here, we have to mention the index, where we want to add the column and an array containing the new values of the
columns added.

In [92]:
m_c = insert(m,[0],[[1],[2],[3],[4],[5],[6],[7]],1)
print(m_c)

[['1' 'Mon' '18' '20' '22' '17']
 ['2' 'Tue' '11' '18' '21' '18']
 ['3' 'Wed' '15' '21' '20' '19']
 ['4' 'Thu' '11' '20' '22' '21']
 ['5' 'Fri' '18' '17' '23' '22']
 ['6' 'Sat' '12' '22' '20' '18']
 ['7' 'Sun' '13' '15' '19' '16']]

In [93]:
m = delete(m,[2],0) # deleting an etire row
print(m)

[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']]

In [94]:
m_c = delete(m_c,[2],1) # deleting an entire column
print(m_c)

[['1' 'Mon' '20' '22' '17']
 ['2' 'Tue' '18' '21' '18']
 ['3' 'Wed' '21' '20' '19']
 ['4' 'Thu' '20' '22' '21']
 ['5' 'Fri' '17' '23' '22']
 ['6' 'Sat' '22' '20' '18']
 ['7' 'Sun' '15' '19' '16']]

In [23]:
m_c[3] = ['Thu',0,0,0,0] #updating a column
print(m_c)

[['1' 'Mon' '20' '22' '17']
 ['2' 'Tue' '18' '21' '18']
 ['3' 'Wed' '21' '20' '19']
 ['Thu' '0' '0' '0' '0']
 ['5' 'Fri' '17' '23' '22']
 ['6' 'Sat' '22' '20' '18']
 ['7' 'Sun' '15' '19' '16']]

## 6. Sets
This is a collection of items not in any particular order. Sets have the following properties:
* The elements in the set cannot be duplicates
* The elements in the set are immutable (cannot be modified), but the set as a whole is mutable.
* There is no index attached to any element in a python set. So they do not support any indexing or slicing operation.

In [24]:
# A set is created by using the set() function or placing all the elements within a pair of curly braces.
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
Months={"Jan","Feb","Mar"}
Dates={21,22,17}
print(Days)
print(Months)
print(Dates)

{'Tue', 'Sat', 'Mon', 'Thu', 'Sun', 'Wed', 'Fri'}
{'Jan', 'Mar', 'Feb'}
{17, 21, 22}

### Accesing values in a set
We cannot access individual values in a set. We can only access all the elements together as shown above. But, we can also get a list of individual elements, by looping through the set.

In [25]:
for d in Days:
    print(d)

Tue
Sat
Mon
Thu
Sun
Wed
Fri

In [26]:
# we can add a new element to the set by using add();
# note that there is no specific element added to the newly added element
Days.add("Jan")
print(Days)

{'Tue', 'Sat', 'Mon', 'Thu', 'Sun', 'Jan', 'Wed', 'Fri'}

In [27]:
# We can remove elements from a set by using discard() method.
Days.discard("Jan")
print(Days)

{'Tue', 'Sat', 'Mon', 'Thu', 'Sun', 'Wed', 'Fri'}

## Union of Sets

In [28]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA|DaysB
print(AllDays)

{'Tue', 'Sun', 'Mon', 'Sat', 'Thu', 'Wed', 'Fri'}

## Intersection of Sets

In [29]:
DaysInBoth = DaysA&DaysB
print(DaysInBoth)

{'Wed'}

## Difference of Sets
Only elements in the first set and are not in the second set.

In [30]:
DaysInA = DaysA - DaysB
print(DaysInA)

{'Tue', 'Mon'}

## Compare Sets
We can check, if a given set is a subset or superset of another set. The result is True or
False depending on the elements present in the sets.

In [31]:
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)

False
False

## 7. MAPS
Maps also called ChainMap is a type of data structure to manage multiple dictionaries together as one unit. 
The best use of ChainMap is to search through multiple dictionaries at a time and get the proper key-value pair mapping. We also see that these ChainMaps behave as stack data structure.

In [32]:
dict1 = {'day1': 'Mon', 'day2': 'Tue'}
dict2 = {'day3': 'Wed', 'day1': 'Thu'}
res = collections.ChainMap(dict1, dict2)
# Creating a single dictionary
print(res.maps,end='\n')
print('Keys = {}'.format(list(res.keys())))
print('Values = {}'.format(list(res.values())))
print()

[{'day1': 'Mon', 'day2': 'Tue'}, {'day1': 'Thu', 'day3': 'Wed'}]
Keys = ['day1', 'day3', 'day2']
Values = ['Mon', 'Wed', 'Tue']

In [33]:
# Print all the elements from the result
for key,val in res.items():
    print('{}={}'.format(key,val))
print()

day1=Mon
day3=Wed
day2=Tue

In [34]:
# Find a specific value in the result
print('day3 in res: {}'.format(('day1' in res)))
print('day4 in res: {}'.format(('day1' in res)))

day3 in res: True
day4 in res: True

### Map Reordering
If we change the order of the dictionaries while clubbing them in the above example, we see that, the position of the elements get interchanged as if, they are in a continuous chain. This again shows the behaviour of Maps as stacks.

In [35]:
res1 = collections.ChainMap(dict1, dict2)
print(res1.maps,'\n')
res2 = collections.ChainMap(dict2, dict1)
print(res2.maps,'\n')

[{'day1': 'Mon', 'day2': 'Tue'}, {'day1': 'Thu', 'day3': 'Wed'}]

[{'day1': 'Thu', 'day3': 'Wed'}, {'day1': 'Mon', 'day2': 'Tue'}]

## Linked Lists
A linked list is a sequence of data elements, which are connected together via links.

In [36]:
class Node:
    def __init__(self, dataval=None):
        self.dataval = dataval
        self.nextval = None
class SLinkedList:
    def __init__(self):
        self.headval = None
list1 = SLinkedList()
list1.headval = Node("Mon")
e2 = Node("Tue")
e3 = Node("Wed")
# Link first Node to second node
list1.headval.nextval = e2
# Link second Node to third node
e2.nextval = e3

In [37]:
class SLinkedList:
    def __init__(self):
        self.headval = None
def listprint(self):
    printval = self.headval
    while printval is not None:
        print (printval.dataval)
printval = printval.nextval
list = SLinkedList()
list.headval = Node("Mon")
e2 = Node("Tue")
e3 = Node("Wed")
# Link first Node to second node
list.headval.nextval = e2
# Link second Node to third node
e2.nextval = e3
list.listprint()

NameError: name 'printval' is not defined

In [38]:
p = list('gyleodhis') #deghilosy
p.sort()
del p[-1]
p1 = ''.join(p)
if len(p1) in range(2,1000):
    print(p1)
else:
    print('string too short')

deghilos